.register__email,
.register__confirm {
  display: flex;
  flex-direction: column;

  padding-bottom: 1rem;
}

.register-email__error,
.register-confirm__error {
  display: none;
  color: red;
}

.register-email--invalid .register-email__error,
.register-confirm--invalid .register-confirm__error {
  display: initial;
}
