.article {
  display: flex;
  flex-direction: row-reverse;
  padding: 5px 10px 10px 10px;
  margin-bottom: 2rem;

  border: 1px solid black;
  border-radius: 10px;
  background-color: #eee;
}

.article:nth-child(2n) {
  flex-direction: row;
}

.article__img {
  flex: 1;
  
  margin: 0.5rem;
  max-width: 200px;
}

.article__img img {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.article__words {
  flex: 4;
}

.article__words .article__title {
  text-align: center;
}
