.orders-page {
  padding: 10px 0;
}

.orders-page__title {
  justify-self: center;
}

.orders-page__list {
  margin: 20px;
}

.orders-page__item:first-child {
  border-top: 1px solid #d4d4d4;
}

.orders-page__item {
  display: flex;
  padding: 10px 20px;

  border-radius: 10px;
  border-bottom: 1px solid #d4d4d4;
  background-color: #F5F5F7;
}

.orders-page__img {
  width: 200px;
  height: 150px;
}

.orders-page__contents {
  margin-left: 20px;
}
