/* main content*/
main {
  display: flex;
  flex-direction: column;

  margin: 10px 0 40px 0;
}

.collection {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0.5rem;

  padding: 2rem 1rem;
}

.collection__title {
  grid-column: span 12;

  justify-self: center;
}

.collection__card {
  display: flex;
  flex-direction: column;
  padding: 5px 10px 10px 10px;

  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: #F5F5F7;
}

.news .collection__card {
  grid-column: span 4;
}

.news .collection__card-img {
  object-fit: contain;
}

.historical .collection__card {
  grid-column: span 3;
}

.collection__card .collection__card-img {
  max-height: 300px;
}
.collection__card h3 {
  margin: 10px 0 0 0;

  text-align: center;
}

.collection__card p {
  flex: 1;
}
  
.collection__card .collection__card-btn {
  width: 70%;
  height: 30px;
  margin: auto;

  justify-items: center;
  border-radius: 10px;
  border: 0;

  background-color: #e6e6e6;
}

/* mobile layout */
@media (max-width: 50rem) {
  .collection__card {
    grid-column: span 12 !important;
  }
}
