.app {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  min-height: 100dvh;
}

.skiplink {
  position: absolute;
  left: -1000px;
  z-index: 1;
  background-color: white;
}

.skiplink:focus {
  left: 0;
}
